body{
    height: 49vw;
    width: 100vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin: 0px;
}

#header{
    height: 5vw;
    width: 97vw;
    display:table-cell;
    vertical-align:middle;
}

h1{
    font-size: 1.6vw;
    font-weight: bold;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    margin: 1vw;
    margin-left: 0vw;
    margin-right: 0vw;
}

h2{
    font-size: 1.3vw;
    font-weight: bold;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    margin: 1vw;
    margin-left: 0vw;
    margin-right: 0vw;
}

h3{
    font-size: 1.1vw;
    font-weight: bold;
    text-align: left;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#body{
    display: flex;
    flex-direction: row;
}

#monitorWindow{
    height: 42vw;
    width: 80vw;
    background-color: rgb(230, 230, 230);
    border-style: solid;
    border-width: 0.1vw;
    border-color: rgb(204, 204, 204);
}

.monitorElementContainerDiv{
    position: absolute;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
}
#monitorDesignMenu{
    height: 42vw;
    width: 17vw;
    background-color: rgb(220, 220, 220);
    
}
#configMenu{
    background-color: rgb(220, 220, 220);
}

ul{
    list-style-type: none;
    padding: 0;
    border: 0;
    margin: 1vw;
    padding: 0.5vw;
    background-color: rgb(230, 230, 230);
}

li{
    font-size: 1vw;
}
li:hover{
    background-color: rgb(240, 240, 240);
}

hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.monitorElement{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.divResizer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1vw;
    height: 1vw;
    background-image: url("Images/resize-icn.png");
    background-size: 100%;
}

img{
    width: 100%;
    height: 100%;
}
