body{
    height: 49vw;
    width: 100vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

#header{
    height: 5vw;
    width: 97vw;
    display:table-cell;
    vertical-align:middle;
}

h1{
    font-size: 1.5vw;
}

#body{
    display: flex;
    flex-direction: row;
}

#monitorWindow{
    height: 42vw;
    width: 80vw;
    background-color: rgb(230, 230, 230);

}

.chart{
    height: 16vw;
    width: 31vw;
    position: absolute;
    background-color: rgb(240, 240, 240);

}

#monitorDesignMenu{
    height: 42vw;
    width: 17vw;
    background-color: rgb(220, 220, 220);
    
}