body{
    height: 49vw;
    width: 97vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin: 0px;
}

#header{
    height: 5vw;
    width: 97vw;
    display:flex;
    vertical-align:middle;
}

#placeHolderDiv{
    width: 7vw;
}

.menuDiv{
    display: flex;
}

.menuTxt{
    align-self: flex-end;
    user-select: none;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    font-size: 1.3vw;
    
}

.menuTxt:hover{
    background-color: rgb(240, 240, 240);
}

#monitorViewTxt{
    align-self: flex-end;
}

h1{
    font-size: 1.6vw;
    font-weight: bold;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    margin: 1.5vw;
    margin-left: 0vw;
    margin-right: 0vw;
}

h2{
    font-size: 1.3vw;
    font-weight: bold;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    margin: 1vw;
    margin-left: 0vw;
    margin-right: 0vw;
}

h3{
    font-size: 1.1vw;
    font-weight: bold;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#body{
    display: flex;
    flex-direction: row;
}

#monitorWindow{
    height: 42.35vw;
    width: 97vw;
    background-color: rgb(230, 230, 230);
    border-style: solid;
    border-width: 0.1vw;
    border-color: rgb(204, 204, 204);
}

.monitorElementContainerDiv{
    position: absolute;
    background-color: rgb(240, 240, 240, 0);
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 0;
}
.monitorElementContainerDivTimeDiag{
    background-color: rgb(240, 240, 240);
}

img{
    width: 100%;
    height: 100%;
}

#loadGif{
    width: 3vw;
    height: 3vw;
    margin: 0;
    position: absolute;
    top: 33%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

#loadTxt{
    position: absolute;
    top: 39%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

#loadDiv{
    width: 100%;
    height: 100%;
    position: relative;
}

.alertLight{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}